* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "SUSE Mono";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 50%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
/*  H  E  A  D  E  R  /   S  E  C  T  I  O  N */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon {
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
span {
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  background-clip: text;
  color: transparent;
}
.navbar a {
  font-size: 3 rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: 3rem;
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
  border-radius: 20px;
}
.gradient-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--main-color), 0 0 40px var(--main-color),
    0 0 80px var(--main-color);
}

/*  B  O  D  Y  /  S  E  C  T  I  O  N  */
section {
  min-height: 100vh;
  padding: 10rem 15%;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5 rem;
  line-height: 1;
}
.home-content h3 {
  font-size: 4rem;
  margin-top: 1rem 0;
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}
.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 40px var(--main-color),
    0 0 80px var(--main-color);
  transform: scale(1.05);
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 50%;
  margin: 3rem 0.5rem;
  transition: 0.3ms ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}
.btn-group {
  display: flex;
  gap: 1.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  text-wrap: nowrap;
}
.btn:hover {
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  transform: scale(1.1);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--text-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}
-btn-groupe a:nth-of-type(2):hover {
  color: black;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

/*  A  B  O  U  T  */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background: var(--second-bg-color);
}
.about-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
  transform: scale(1.05);
}
.about-content h2 {
  font-size: 7rem;
  text-align: left;
}
.about-content p {
  font-size: 1.8rem;
}
.about-content .btn {
  margin: 3rem 0;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/*  S  E  R  V  I  C  E  S  */
.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}
.services {
  background-color: var(--bg-color);
  color: black;
}
.services h2 {
  color: var(--text-color);
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  align-items: center;
}
.service-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 600px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}
.service-box:hover {
  background: #101010;
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}
.service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.service-info h4 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}
.service-info p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}
.service-info i {
  font-size: 8rem;
}

.projects {
  background-color: var(--second-bg-color);
}
.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 4rem;
  row-gap: 6rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 3rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
}
.project-card:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
  transform: scale(1.05);
}
.project-card img {
  max-width: 300px;
  border-radius: 2rem;
  object-fit: cover;
}
.project-card h3 {
  font-size: 3rem;
}
.project-card p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7;
}
/*  C  O  N  T  A  C  T  2  */
/*.contact {
  background-color: var(--bg-color);
}
.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
}*/

/*  F  O  O  T  E  R  */
.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}
.footer .social-icons {
  text-align: center;
}
.footer ul {
  text-align: center;
}
.footer ul li {
  display: inline-block;
  margin-left: 20px;
}
.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}
.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
/*  C  O  N  T  A  C  T    B  U  T  T  O  N    N  E  W    */

.icon {
  cursor: pointer;
  height: 2rem;
}
.contact-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
  z-index: 9999;
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  color: var(--text-color);
}
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  /*border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);*/
    background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius:20px;
  margin: 2rem auto;
  padding: 0.5rem;
  color: var(--main-color);
}
.contact-info-upper-container:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
  transform: scale(1.2);
}


.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  color:var(--main-color);
}
.contact-info-container p {
  font-size: larger;
  color: black;
}
.contact-icon {
  cursor: default;
}
/*  C  O  N  T  A  C  T    B  U  T  T  O  N    N  E  W  */

.section-text-p1 {
  text-align: center;
  font-size: 3rem;
}
.title {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}
.contact p {
  font-size: 5rem;
  line-height: 1.5rem;
}
.contact-info-upper-container a{
  color: white;
  text-decoration: none;
}
.contact-info-upper-container .icon{
    color: white;

}
@media (max-width: 1285px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar a {
    display: block;
    margin: 3rem 0;
    font-size: 2rem;
    color: var(--text-color);
  }
  .navbar.active {
    display: block;
  }
  .gradient-btn {
    display: none;
  }
  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-img img {
    width: 56vw;
  }
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }
  .about img {
    width: 52vw;
  }
  .contact form {
    flex-direction: column;
  }
}
